<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/css/user/style.css">
</head>
<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <%- include("user-sidebar-items.ejs") %>

        
    
        <!-- Main Content -->
        <main class="main-content">
            <!-- Top Header -->
            <header class="dashboard-header">
                <div class="search-container">
                    <i class="menu-icon">☰</i>
                    <input type="text" placeholder="Search here" class="search-bar">
                    <i class="search-icon">🔍</i>
                </div>
                <div class="user-profile">
                    <img src="/path-to-profile-pic.jpg" alt="Profile Picture" class="profile-pic">
                </div>
            </header>

            <%- include("inc-alert-messages.ejs") %>

            <div style="padding: 15px; margin: 10px 0 10px 0; background-color: black; color: white; border: 1px solid black; border-radius: 5px; font-family: Arial, sans-serif;">
                This Game Simulator refreshes stock prices after every minute based on historical data
            </div>
    
            <!-- Dynamic Content Area -->
            <div id="dynamic-content">
               <div class="home-container">
                    
                <div class="metrics" style="margin-bottom: 30px;">
                        <!-- <div class="metric-box">
                            <p>Total Competitors</p>
                            <span>10</span>
                        </div>
                        <div class="metric-box">
                            <p>Total Stocks</p>
                            <span> 3 </span>
                        </div> -->
                        <% if(userGameStatus)  { %>

                            <div class="metric-box" style="max-width: 300px;">
                                <p>Your Total Account Balance : </p>
                                <small>Available + investment balances</small>
                                <span> CAD $ <%= userGameStatus.currentBalance.toFixed(2) %> </span>
                            </div> 

                            <div class="metric-box" style="max-width: 300px;">
                                <p>Your Available Balance: </p>
                                <span style="font-size: 18px;"> CAD $ <%= userGameStatus.availableBalance.toFixed(2) %> </span>
                            </div> 
                            
                        <% } %>

                        <div class="metric-box" style="max-width: 300px;">
                            <% if(!activeGameSession)  { %>
                                <span style="margin-bottom: 20px;">No Game In Progress</span>
                            <% } else {  %>
                                <p>Game ends in</p>
                                <span id="countdown" style="margin-bottom: 20px; color: red;"></span>
                                <% if(!userGameStatus) { %>
                                    <a href="/user/join-game/<%= activeGameSession['_id'] %>" id="start-session-btn" style="width: 100%;" >Join Game</a>
                                <% } %>
                            <% } %>
                            
                        </div>

                        <% if(activeGameSession)  { %>
                        <div class="metric-box" style="max-width: 300px;">
                            
                                <p>Game started</p>
                                <span id="ellapsed" style="margin-bottom: 20px;"></span>                                
                        </div>
                        <% }  %>

                        
                        
                    </div>


                    <div class="stock-card-container">
                        <!-- Stock Card 1 -->
                        
                        <% for(let i = 0; i < stocks.length; i++) { %>
                         
                            <div class="stock-card stock-card-<%= i + 1 %>">
                                <div style="display: flex;">
                                    <div style="flex: 1;">
                                        <h3 class="stock-company"><%= stocks[i]['company'] %></h3>
                                        <p class="stock-ticker">Ticker: <%= stocks[i]['ticker'] %></p>
                                        <p class="stock-price">Price: $<%= stocks[i]['price'].toFixed(2) %></p>
                                    </div>
                                    <% if(userGameStatus) { %>
                                        <div style="flex: 1;">
                                            <h3 class="stock-company">Your Share</h3>

                                            <p class="stock-ticker">Shares: <%= userGameStatus[ stocks[i]['ticker'] ] %></p>
                                            <p class="stock-price"> Amt: $<%= userGameStatus[ stocks[i]['ticker'] + '_balance' ].toFixed(2) %></h2>
                                            
    
                                        </div>
                                    <% } %>
                                </div>
                                <% if(activeGameSession && userGameStatus) { %>
                                   <form action="/user/transact-stock" method="POST">
                                        <div class="stock-actions">
                                            <input type="number" name="shares" id="stock-amount-<%= i + 1 %>" min="1" placeholder="Enter shares" required>
                                            <input type="hidden" name="ticker" value="<%= stocks[i]['ticker'] %>">
                                            <input type="hidden" name="boardId" value="<%= userGameStatus['_id'] %>">
                                            <input type="hidden" name="stockId" value="<%= stocks[i]['_id'] %>">
                                            <button type="submit" class="buy-button" name="action" value="buy">Buy</button>
                                            <button type="submit" class="sell-button" name="action" value="sell">Sell</button>
                                        </div>
                                   </form>
                                <% } %>
                              </div>
                        <% } %>
                    </div>
                        

                    <div style="display: flex; gap: 10px;">

                        <div class="user-list" style="margin-top: 20px; width: 100%; background-color: white; box-shadow: #42434d; padding: 10px; border-radius: 5px;">
                            <h3>Leaderboard</h3>
                        
                            <table class="user-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>AAPL</th>
                                        <th>GOOGL</th>
                                        <th>MSFT</th>
                                        <th>Available Balance</th>
                                        <th>Total Balance</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="user-table-body">
                                    <!-- Sample data rows; replace with dynamic content as needed -->

                                    <% if(leaderBoard.length > 0) { %>
                                        <% for(const p of leaderBoard) { %>
                                            <tr>
                                                <td> <%= p['userName'] %> </td>
                                                <td> 
                                                    <p>Shares: <%= p['AAPL'] %> </p>
                                                    <p>Amount: $<%= p['AAPL_balance'].toFixed(2) %> </p>
                                                </td>
                                                <td>
                                                    <p>Shares: <%= p['GOOGL'] %> </p>
                                                    <p>Amount: $<%= p['GOOGL_balance'].toFixed(2) %> </p>
                                                </td>
                                                <td>
                                                    <p>Shares: <%= p['MSFT'] %> </p>
                                                    <p>Amount: $<%= p['MSFT_balance'].toFixed(2) %> </p>
                                                </td>
                                                <td>
                                                    $<%= p['availableBalance'].toFixed(2) %>
                                                </td>
                                                <td>
                                                    $ <strong style="font-size: 18px;"><%= p['currentBalance'].toFixed(2)  %></strong>
                                                </td>
                                                <td>
                                                    <a href="/home?portfolioUserId=<%= p['userId'] %>&portfolioUserName=<%= p['userName'] %>">
                                                        Show progress graph
                                                    </a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } else { %>

                                        <tr>
                                            <td colspan="7">
                                                Leaderboard will show once users join ongoing game
                                            </td>
                                        </tr>

                                    <% } %>
                                </tbody>
                            </table>
                        </div>

                        <div class="charts" style="width: 100%;">
                            <div class="chart-box">
                                <h3>Portfolio progress for <span style="color: blue;"><%= portfolioUserName %></span> </h3>
                                <% if(portfolio.length > 0) { %>

                                    <canvas id="tradingProgressChart"></canvas>

                                <% } else {  %>
                                    <p> Graphical display of portfolio performance over the duration of the simulation will show here </p>
                                <% } %>
                                
                            </div>
                        </div>

                    </div>
                 
                        <!-- Stock Card 2 -->

                </div>
            </div>

        </main>
    </div>

    <!-- Add Chart.js library for rendering charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        const portfolioRecords = <%- JSON.stringify(portfolio) %>; // Pass the array from the server to JavaScript
        // Parse it back into an array
        // const dataArray = JSON.parse(portfolioRecords);

        console.log("portfolioRecords", portfolioRecords);
        
 
        // Sample data for charts
        const tradingProgressData = {
            labels: portfolioRecords.map(item => `${item['minuteAt']} min(s)`),
            datasets: [{
                label: "Balance - $",
                data: portfolioRecords.map(item => item['currentBalance']),
                backgroundColor: "rgba(75, 192, 192, 0.2)",
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 1
            }]
        };

        // Initialize chart
        const tradingCtx = document.getElementById("tradingProgressChart").getContext("2d");
        new Chart(tradingCtx, {
            type: "line",
            data: tradingProgressData,
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    </script>

    <%- include("inc-count-down-script.ejs", {onComplete: '/home', isAdmin: false}) %>

</body>
</html>
